//Breakpoints desde
$small: 'min-width:576px';
$medium: 'min-width:768px';
$large: 'min-width:992px';
$x-large: 'min-width:1200px';
$xx-large: 'min-width:1400px';

//Breakpoints hasta
$less-small: 'max-width:575px';
$less-medium: 'max-width:767px';
$less-large: 'max-width:991px';

//Colores basicos
$black: #000;
$white: #fff;

//Colores Jelly Bean / Fountain Blue
$color1l: #78D2DB;
$color1: #51B1BB;
$color1s1: #3496A1;
$color1s2: #0D7986;

$color2l: #4A9AB2;
$color2: #327D97;
$color2s1: #1C6783;
$color2s2: #09516F;

$modal-blur: #09506f5d;